<?xml version="1.0" encoding="UTF-8"?>
<plugin id="lycwed-cordova-plugin-admob-adcolony" version="1.0.7"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>lycwed-cordova-plugin-admob-adcolony</name>
    <description>Cordova AdMob Mediation Plugin for AdColony</description>

    <engines>
        <engine name="cordova" version=">=3" />
    </engines>

    <platform name="android">
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:hardwareAccelerated="true" />
            <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:hardwareAccelerated="true" />
        </config-file>

        <source-file src="src/android/adcolony.jar" target-dir="libs" />

        <!-- Prevents compilation error: https://developer.android.com/studio/build/multidex.html -->
        <!-- when add additional mediation plugins -->
        <dependency id="cordova-plugin-multidex" />
    </platform>

    <platform name="ios">
        <pods-config ios-min-version="9.0" use-frameworks="true" />
        <pod id="GoogleMobileAdsMediationAdColony" version="3.3.0.0" />

        <!-- Prevents compilation failures when using pod's id with additional mediations plugins -->
        <dependency id="cordova-plugin-cocoapod-support" />
    </platform>
</plugin>
